@media only screen and (max-width:1200px){
    h2{
        color: aqua;
    }
}  
@media only screen and (max-width:800px){
    h2{
        color: yellow;
    }
}  
@media  screen and (max-width:400px){
    h2{
        color: pink;
    }
} 